// Fonts
$font-family-heading: 'Montserrat', Arial, sans-serif;
$font-family-text: 'Open Sans', Arial, sans-serif;

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

// Border Radius
$border-raius-regular: 8px;