// Base Colors Tokens (SCSS)

// Neutral Color
$color-gray-light: #cccccc;
$color-white: #ffffff;
$color-black: #000000;
$color-tomato: tomato;

.donation {
  color: $color-tomato;
  background-color: yellow;
}
