html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, .root {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.5; }

body, .app {
  background: #eeeeee; }

.logo {
  font-weight: 400;
  padding: 5px 0 0 30px; }

.list-organization-top {
  display: flex;
  justify-content: space-evenly; }

.search-organizations {
  width: 50%;
  text-align: center;
  padding: 20px 20px 20px 30px;
  margin-top: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  font-family: "Montserrat", Arial, sans-serif;
  border: none;
  outline: none;
  cursor: pointer; }
  .search-organizations:hover {
    border: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.show-all-organization {
  text-align: center;
  margin: 20px 0; }
  .show-all-organization button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #015e9f;
    font-size: inherit; }
    .show-all-organization button:hover {
      text-decoration: underline; }

.new-organization {
  display: block;
  width: 150px;
  background: white;
  background-repeat: no-repeat;
  background-position: center; }

.charity-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none; }

@media (max-width: 1662px) {
  .contact-list {
    display: flex;
    justify-content: center; } }

.charity-list-item {
  margin: 30px;
  padding: 20px;
  background: white;
  display: flex; }

.org-image {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background: center;
  background-size: cover;
  flex-shrink: 0; }

.organization-details {
  padding-left: 20px;
  border-left: 1px solid #eee;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.organization-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.organiation-remove {
  padding-left: 20px;
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("./icons/cancel.svg");
  background-size: 100% 100%;
  border: 0;
  color: black;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
  outline: none; }
